来自ascii2d.net的搜索结果
{{#results}}
---
{{&image.image}}
图片信息: {{info}}
图片特征码：{{hash}}
来源: {{#source}} {{source.text}} {{source.link}} {{/source}} {{#author}} 
作者: {{author.text}} {{author.link}} {{/author}}
{{/results}}
