来自saucenao.com的搜索结果
{{#results}}
---
{{#hidden}}[Hidden content]{{/hidden}}{{^hidden}}{{&image.image}}{{/hidden}}
搜索结果:
{{content}}
标题: {{title}}
相似度: {{similarity}}%
{{#misc.length}}其他相关链接: {{#misc}}
{{.}}{{/misc}}{{/misc.length}}
{{/results}}