来自trace.moe的搜索结果
{{#results}}
---
{{#nsfw}}[NSFW Content]{{/nsfw}}{{^nsfw}}{{&preview.image}}{{/nsfw}}
番剧名称: {{name.native}}{{#name.romaji}}
罗马字名: {{.}}{{/name.romaji}}{{#name.english}}
英文名: {{.}}{{/name.english}}{{#episode}}
第{{.}}话{{/episode}}
{{from}} - {{to}}
{{/results}}